**/.sass-cache
**/.sass-cache/*
resources/css/app.css
build/*
cordova_old/*
cordova/
cordova/*
build/temp
build/temp/development/WinWithin/sencha-compiler/app/full-page-master-bundle.js

resources/css/android.css

resources/css/android.css
