@import 'sencha-touch/mountainview'
@import 'sencha-touch/mountainview/all'
@import 'stylesheets/android/lib/variables'
@import 'stylesheets/android/lib/buttons'
@import 'stylesheets/android/lib/typography'
@import 'stylesheets/android/lib/forms'

.x-dock-body
  .x-body
    .x-toolbar-inner
      height: 49px

.x-menu
  padding: 0

  .x-button
    border-radius: 0
    border: 0
    span
      color: $base-button-color

.chapter-container
  padding: 10px
  background-color: #EAEAEA

  .x-panel-inner
    padding: 10px
    background-color: #FFFFFF

.form-input
  margin-top: 10px
  background-color: #FFFFFF

.x-scroll-view
  background-color: #EAEAEA

.x-component-outer:before, .x-component-outer:after
  display: none

.x-button-back
  background-image: url('../images/arrow-left.png') !important
  background-repeat: no-repeat !important
  background-size: 9px 15px !important
  background-position: left center !important
  color: #157EFB
  font-size: 1.3em
  text-align: center
  background-color: none
  line-height: 1.3em
  padding-left: 15px

.x-button.x-button-back .x-button-label,
.x-button.x-button-back:before
  color: #ffffff
  font-size: 1em

.x-field-input .x-clear-icon
  display: none

.x-list .x-list-item .x-list-item-body, .x-list .x-list-item.x-list-item-tpl .x-innerhtml
  padding: 0

.hideArrow
  .x-list-disclosure
    display: none